
<h1 class="display">Add Category</h1>
<form method="post" action="/item/update/<%= test.id %>">
    <div>
        <label>itemName</label>
        <input type="text" name="itemName" value="<%= test.itemName %>">
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description" value="<%= test.description %>">
    </div>
    <div>
        <label>price</label>
        <input type="number" name="price" value="<%= test.price %>">
    </div>
    <div>
        <label>displayOrder</label>
        <input type="number" name="displayOrder" value="<%= test.displayOrder %>">
    </div>
    <!-- <div>
        <label>Image</label>
        <input type="file" name="image">
    </div> -->
    <input type="submit" value="update">
</form>