<!-- item edit page and also bind the value in the textbox-->
<h1 class="display">Add Category</h1>
<form method="post" action="/item/update/<%= test.id %>">
    <div>
        <label>itemName</label>
        <input type="text" name="itemName" value="<%= test.itemName %>" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description" value="<%= test.description %>" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label>price</label>
        <input type="number" name="price" value="<%= test.price %>" min="0" max="10000" required>
    </div>
    <div>
        <label>displayOrder</label>
        <input type="number" name="displayOrder" value="<%= test.displayOrder %>" min="0" max="100" required>
    </div>
    <input type="submit" value="update">
</form>